@charset "utf-8";
/* CSS Document */

/*------------------------------
=BASIC SETUP
------------------------------*/

/* Makeshift CSS Reset */
* {
	margin: 0;
	padding: 0;
}

/* Tell the browser to render HTML 5 elements as block */
header, footer, section, aside, nav, article {
	display: block;
}

body {
	margin: 0 auto;
	padding: 22px 0;
	width: 650px;
	font: 13px/22px Helvetica, Arial, sans-serif;
	background: #F0F0F0;
}

h1, h2 {
	font-size: 28px;
	line-height: 44px;
	padding: 22px 0;
    text-align: center;
}

h3 {
	font-size: 18px;
	line-height: 22px;
	padding: 11px 0;
}

p {
	padding-bottom: 22px;
}

/*------------------------------
=BLANKET
------------------------------*/

#blanket {
   background-color:#111;
   opacity: 0.65;
   position:absolute;
   z-index: 9001;
   top:0px;
   left:0px;
   width:100%;
}

/*------------------------------
=POPUPDIVSHOT
------------------------------*/

#popUpDivShot {
	position:absolute;
	background-color:#eeeeee;
	width:350px;
	height:350px;
	z-index: 9002;
}

	#popUpDivShot button {
			width: 35px;
	}
	
		#popUpDivShot input[type=text] {
		width: 70px;
		vertical-align:bottom;
		height: 35px;
		font-size:25px
	}

		#popUpDivShot input[type=button] {
			width:5em;
			height:3em;
			background-color: #A9A9A9;
		}
			#popUpDivShot input[type=button].selected {
				width:5em;
				height:3em;
				background-color: #FFFFFF;
			}

#popUp {
	position:left;
	padding-left: 40px;
}			
	

/*------------------------------
=POPUPDIVGOAL
------------------------------*/

#popUpDivGoal {
	position:absolute;
	background-color:#eeeeee;
	width:350px;
	height:350px;
	z-index: 9002;
}

	#popUpDivGoal button {
			width: 35px;
	}
	
		#popUpDivGoal input[type=text] {
		width: 70px;
		vertical-align:bottom;
		height: 35px;
		font-size:25px
	}

		#popUpDivGoal input[type=button] {
			width:5em;
			height:3em;
			background-color: #A9A9A9;
		}
			#popUpDivGoal input[type=button].selected {
				width:5em;
				height:3em;
				background-color: #FFFFFF;
			}

#popUp {
	position:left;
	padding-left: 40px;
}

/*------------------------------
=POPUPDIVPENALTY
------------------------------*/

#popUpDivPenalty {
	position:absolute;
	background-color:#eeeeee;
	width:350px;
	height:350px;
	z-index: 9002;
}

	#popUpDivPenalty button {
			width: 35px;
	}
	
		#popUpDivPenalty input[type=text] {
		width: 70px;
		vertical-align:bottom;
		height: 35px;
		font-size:25px
	}

		#popUpDivPenalty input[type=button] {
			width:5em;
			height:3em;
			background-color: #A9A9A9;
		}
			#popUpDivPenalty input[type=button].selected {
				width:5em;
				height:3em;
				background-color: #FFFFFF;
			}

#popUp {
	position:left;
	padding-left: 40px;
}

/*------------------------------
=CONTENT AREA
------------------------------*/

#content {
	display: table;
}

	#mainContent {
		display: table-cell;
		width: 600px;
		padding-right: 22px;
		padding left:  22px;
	}
		#mainContent button {
			width: 35px;
		}

/*------------------------------
=TIMER
------------------------------*/

#timer {
	float: left;
	padding-left: 70px;
}
	#timer input[type=text] {
		width: 70px;
		vertical-align:bottom;
		height: 35px;
		font-size:25px
	}

	#timer input[type=button] {
		width:5em;
		height:3em;
		background-color: #A9A9A9;
	}
		#timer input[type=button].selected {
			width:5em;
			height:3em;
			background-color: #FFFFFF;
		}

/*------------------------------
=HOMETEAM
------------------------------*/

#hometeam {
	float:left;
	padding-left: 45px;
	height:400px;
	width:225px;
	text-align:center;
}
	#hometeam input[type=button] {
		width:5em;
		height:3em;
		background-color: #A9A9A9;
	}
		#hometeam input[type=button].selected {
			width:5em;
			height:3em;
			background-color: #FFFFFF;
		}
	
		
/*------------------------------
=AWAYTEAM
------------------------------*/

#awayteam {
	float:right;
	width:225px;
	height:400px;
	text-align:center;
}

	#awayteam input[type=button] {
		width:5em;
		height:3em;
		background-color: #A9A9A9;
	}

		#awayteam input[type=button].selected {
			width:5em;
			height:3em;
			background-color: #FFFFFF;
		}

/*------------------------------
=FOOTER
------------------------------*/
footer {
	position: absolute;
	left: 0;
	width: 100%;
	background: #222222;
}

	footer div {
		display: table;
		margin: 0 auto;
		padding: 44px 0;
		width: 650px;
		color: #777;
	}
	
		footer div section {
			display: table-cell;
			width: 315px;
		}
		
	footer h3 {
		color: #FFF;
	}
	
	footer a {
		color: #999;
	}
	
		footer a:hover {
			color: #FFF;
			text-decoration: none;
		}
	
	footer ul {
		margin: 0 0 0 40px;
		list-style: square;
		color: #565656;
	}
	
		footer ul li a {
			display: block;
		}
		
	footer img {
		margin: 0 0 0 30px;
	}
